.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  p {
    font-size: 25px;
    font-family: 'VT323', monospace; 
    color: #333; 
}

  h5{
    color: black;
  }
.carousel-caption{
    height: 100px;
}
.navbar-nav .nav-link {
    font-size: 20px; 
}
h1{
    text-align: center;
}
.tema{
    background-color: aquamarine;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Cambia este color a tu preferencia */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cambia este color a tu preferencia */
}
